.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
        display: block;
        padding: 20px;
        flex-grow: 1;
    }
}

.toolbar {
    // display: flex;

    .spacer {
        flex: 1 1 auto;
    }

    a, a:hover, a:visited {
        color: white;
        text-decoration: none;;
    }
}