.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
        display: block;
        padding: 20px;
        flex-grow: 1;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 64px;
        overflow: auto;
    }
}

.toolbar {
    // display: flex;

    .spacer {
        flex: 1 1 auto;
    }

    a, a:hover, a:visited {
        color: white;
        text-decoration: none;;
    }
}

.refresh {
    height: 30px;
    width: 30px;
    padding: 5px;
    cursor: pointer;
    display: block;
    margin-left: 10px;;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    img {
        height: 100%;
        width: 100%;
        filter: invert(1)
    }
}

:host ::ng-deep .mat-form-field-infix {
    width: 120px;
}
