<div *ngIf="(lastValue$ | async) as lastValue">
    <p>Temperatura: {{ lastValue.temperature/10 | number : '1.0-1' }}</p>
    <p>Wilgotność: {{ lastValue.humidity/10 | number : '1.0-1' }}</p>
    <p>Poziom baterii: {{ lastValue.battery}} </p>
    <p>Ostatni odczyt: {{ lastValue.timestamp | date : 'medium' }}</p>
</div>
<div>
    <ng-container *ngIf="(series$ | async) as series">
        <ngx-charts-line-chart
            [results]="series"
            [legend]="true"
            [showRefLabels]="true"
            [xAxis]="true"
            [yAxis]="true"
        ></ngx-charts-line-chart>
    </ng-container>
</div>
