<div class="metrics">
    <div *ngIf="(lastValue$ | async) as lastValue">
        <p>Temperatura: {{ lastValue.temperature | number : '1.0-1' }}°C</p>
        <p>Wilgotność: {{ lastValue.humidity | number : '1.0-1' }}%</p>
        <p>Poziom baterii: {{ lastValue.battery}}V </p>
        <p>Ostatni odczyt: {{ lastValue.timestamp | date : 'medium' }}</p>
    </div>
</div>
<div class="temperature">
    <div *ngIf="(temperature$ | async) as series" class="chart">
        <ngx-charts-line-chart
            [results]="series"
            [legend]="false"
            [showRefLabels]="true"
            [xAxis]="true"
            [yAxis]="true"
            [customColors]="colors"
            [yScaleMin]="(temperatureBorders$ | async)?.min"
            [yScaleMax]="(temperatureBorders$ | async)?.max"
            xAxisLabel="Temperatura"
            [showXAxisLabel]="true"
        ></ngx-charts-line-chart>
    </div>
</div>
<div class="battery">
    <div *ngIf="(battery$ | async) as series" class="chart">
        <ngx-charts-line-chart
            [results]="series"
            [legend]="false"
            [showRefLabels]="true"
            [xAxis]="true"
            [yAxis]="true"
            xAxisLabel="Bateria"
            [showXAxisLabel]="true"
            [customColors]="colors"
        ></ngx-charts-line-chart>
    </div>
</div>
<div class="humidity">
    <div *ngIf="(humidity$ | async) as series" class="chart">
        <ngx-charts-line-chart
            [results]="series"
            [legend]="false"
            [showRefLabels]="true"
            [xAxis]="true"
            [yAxis]="true"
            [yScaleMin]="0"
            [yScaleMax]="100"
            xAxisLabel="Wilgotność"
            [showXAxisLabel]="true"
            [customColors]="colors"
        ></ngx-charts-line-chart>
    </div>
</div>
