:host {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

    > div {
        padding: 20px 0;
        @media (min-width: 1280px) {
            padding: 10px;
        }
        box-sizing: border-box;

        > div {
            height: 100%;
            width: 100%;
        }

        .chart {
            width: 100%;
            height: 100%;
        }
    }

    .metrics {
        width: 100%;
        font-size: 1.5rem;
        display: table;

            
             
            > div {
                display: table-row;

                > div {
                    display: table-cell;
                }
            }
    }

    .battery, .temperature, .humidity {
        width: 100%;
        height: 500px;
    }

    .metrics {
        order: 1;
    }

    .temperature {
        order: 2;
    }

    .humidity {
        order: 3;
    }

    .battery {
        order: 4;
    }

    @media (min-width: 1280px) {
        .metrics, .battery, .temperature, .humidity {
            height: 50%;
        }

        .temperature, .humidity {
            width: 70%;
        }

        .metrics {
            width: 30%;
        }

        .temperature {
            width: 70%;
        }

        .humidity {
            width: 50%;
            order: 4;
        }
    
        .battery {
            width: 50%;
            order: 3;
        }
    }
}

::ng-deep .highcharts-background {
    fill: transparent;
}
