:host {
    height: 100%;
    width: 100%;

    > div {
        padding: 20px 0;
        box-sizing: border-box;

        > div {
            height: 100%;
            width: 100%;
        }

        .chart {
            width: 100%;
            height: 100%;
        }
    }

    .metrics {
        width: 100%;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;

        > div {
            width: auto;
        }

        + div {
            padding-top: 0;
        }
    }

    .battery, .temperature, .humidity {
        width: 100%;
        height: 400px;
    }
}

::ng-deep .highcharts-background {
    fill: transparent;
}
